.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
}

.Navigation a {
  color: white;
  text-decoration: none;
}

.Nav-Menu {
  display: flex;
}

.Nav-Menu li {
  padding: 0 1rem;
}

.Nav-Menu li a {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
